ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    display: block;
    text-align: center;
    text-decoration: none;
}

#vertical-menu {
    width: 25%;
    background-color: #f1f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#vertical-menu li a {
    color: #000;
    padding: 8px 16px;
}

#vertical-menu li a.active {
    background-color: #4caf50;
    color: white;
}

#vertical-menu li a:hover:not(.active) {
    background-color: #555;
    color: white;
}