.sprite {
    background: url("../images/image11.png") no-repeat;
}


.section1 {
    width: 500px;
    height: 375px;
    display: inline-block;
    background-position: 0 0; 
}

.section2 {
    width: 500px;
    height: 375px;
    display: inline-block;
    background-position: -500px 0; 
}

.section3 {
    width: 500px;
    height: 375px;
    display: inline-block;
    background-position: -0 -500px; 
}

.section2 {
    width: 500px;
    height: 375px;
    display: inline-block;
    background-position: -500px -500px;
}